.titulo_alquiler_cajones{
    text-align: center;          /* Centra el texto dentro de cada div */
        border-radius: 30px;
        font-size: 60px;
        border: solid black;
        text-shadow:
            2px 2px 0 #E6E6E6, /* Sombra hacia abajo a la derecha */
            -1px -1px 0 #000, /* Sombra hacia arriba a la izquierda */
            1px -1px 0 #000, /* Sombra hacia arriba a la derecha */
            -1px 1px 0 #000;
            margin: 10px;
}
table {
            width: 60%;
            padding: 10px;
            border-collapse: collapse; /* Fusiona los bordes de las celdas */
            margin: 40px auto;


        }
    th, td {
            border: 1px solid black; /* Define el borde de las celdas */
            padding: 8px;            /* Espacio dentro de las celdas */
            text-align: center;        /* Alineación del texto dentro de las celdas */
        }
    th {
            background-color: #58D3F7; /* Color de fondo para las celdas de encabezado */
        }

#libre{
    background-color: #58D3F7;
}