.titulo_alquiler_cajones{
    text-align: center;          /* Centra el texto dentro de cada div */
        border-radius: 30px;
        font-size: 60px;
        border: solid black;
        text-shadow:
            2px 2px 0 #E6E6E6, /* Sombra hacia abajo a la derecha */
            -1px -1px 0 #000, /* Sombra hacia arriba a la izquierda */
            1px -1px 0 #000, /* Sombra hacia arriba a la derecha */
            -1px 1px 0 #000;
            margin: 10px;
}
table {
            width: 60%;
            padding: 10px;
            border-collapse: collapse; /* Fusiona los bordes de las celdas */
            margin: 40px auto;


        }
    th, td {
            border: 1px solid #444; /* Define el borde de las celdas */
            padding: 8px;            /* Espacio dentro de las celdas */
            text-align: center; 
            border-bottom: 4px solid #444;       /* Alineación del texto dentro de las celdas */
        }
    th {
            background-color: #58D3F7; /* Color de fondo para las celdas de encabezado */
        }
        #tipo{
    font-size: 20px;
    font-family: fantasy;
}

#libre{
    background-color: #58D3F7;
}
#titulo_uso{
    text-align: center;          /* Centra el texto dentro de cada div */
        border-radius: 30px;
        font-size: 60px;
        border: solid black;
        text-shadow:
            2px 2px 0 #E6E6E6, /* Sombra hacia abajo a la derecha */
            -1px -1px 0 #000, /* Sombra hacia arriba a la izquierda */
            1px -1px 0 #000, /* Sombra hacia arriba a la derecha */
            -1px 1px 0 #000;
            margin: 10px;
}

#texto_uso{ 
        flex:1;
        color: black;
        font-size: 23px;
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
        margin: 30px;
        border-radius: 10px;
        background-color: lightgray;

    }
#contra{ 
        flex:1;
        color: black;
        font-size: 17px;
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 2px;
        border-radius: 10px ;
        background-color: #F5BCA9;

    }